<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos da Fatec</title>
</head>
<body>
    <h1>Estes são os cursos da Fatec Sorocaba</h1>
</body>
</html>